/** css reset  */
html {
    box-sizing: border-box;
}
  *, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    font-family: inherit;
}

/**         */

/** colors, fonts */

:root {
    --purple: hsl(259, 100%, 65%);
    --light-red: hsl(0, 100%, 67%);

    --white: hsl(0, 0%, 100%);
    --off-white: hsl(0, 0%, 94%);
    --light-grey: hsl(0, 0%, 86%);
    --smokey-grey: hsl(0, 0%, 56%);
    --off-black: hsl(0, 0%, 8%);

    --font-size-input: 2vw;

    --big-font: 800;
    --medium-font: 700;
    --small-font: 400;

    --answer: "- -";
    --animation: "";
}

/**         */

/** remove arrows from input  */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/**         */

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--off-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: auto;
}


.wrapper {
    background-color: var(--white);
    width: 40vw;
    height: 67vh;
    border-radius: 2.5%;
    border-bottom-right-radius: 25%;
    display: flex;
    flex-direction: column;
    padding: 2.928vw;
}

/** top of the box */

.input-date {
    display: flex;
    max-width: 100%;
    margin-right: 5.857vw;
    flex-grow: 1;
}

.input-date > div{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

input::placeholder {
    font-weight: var(--medium-font);
    font-size: calc(var(--font-size-input) * 0.7);
    color: var(--smokey-grey);
}

.input-text {
    font-weight: var(--big-font);
    font-size: calc(var(--font-size-input) * 0.3);          /** text on top of the input */
    color: var(--smokey-grey);
    letter-spacing: 0.234vw;
    margin-bottom: 0.586vw;
}

input {
    width: 7.613vw;
    height: 3.514vw;
    border: 1px solid var(--light-grey);
    border-radius: 5%;
    font-weight: var(--medium-font);
    font-size: calc(var(--font-size-input) * 0.7);
    padding-left: 0.937vw;
    cursor: pointer;
    caret-color: var(--purple);
}

.inputs:focus-visible {
    outline: var(--purple) auto 1px;                       /** color of border when focused */
}

.inputs-red:focus-visible {
    outline: var(--light-red) auto 1px;                       /** color of border when focused on error*/
}

.error {
    margin-top: 0.586vw;
    color: var(--light-red);
    font-size: calc(var(--font-size-input) * 0.3);
    font-weight: var(--small-font);
    font-style: italic;
    display: none;
}

/**  */

/** horizontal line and button   */

.separator {
    display: flex;
    flex-grow: 1;
}

button {
    width: 4.392vw;
    height: 4.392vw;
    background-color: var(--purple);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

img{
    width: 2.196vw;
}

hr{
    display: block;
    height: 0.073vw;
    width: 80%;
    border-top: 1px solid var(--light-grey);
    margin: 2.343vw 0;
    padding: 0;
    flex-grow: 1;
}


/**  */

/** bottom part of box  */

.output {
    display: flex;
    height: 30vh;
    flex-grow: 2;
    flex-direction: column;
    justify-content: space-evenly;
}

.output > span {
    height: 11vh;
    font-weight: var(--big-font);
    font-size: calc(var(--font-size-input) * 2);
    font-style: italic;
    color: var(--off-black);
    display: flex;
    align-items: center;
}

.answers::before {
    content: var(--answer);
    color: var(--purple);
}

/**  */

/** Animation of final result when "- -" changes to numbers */

@keyframes changeToNumbers {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.answers::before {
    animation: var(--animation);
}

/***************** */


@media screen and (max-width: 500px) {

    /** top part  */
    .wrapper {
        width: 90vw;
        padding-top: 6vh;
        border-radius: 4%;
        border-bottom-right-radius: 25%;
    }
    
    .input-date {
        margin-right: 0;
    }

    input {
        width: 86%;
        height: 6.5vh;
        font-size: calc(var(--font-size-input) * 2.5);
        padding-left: 3vw;
        border-radius: 10%;
    }

    .input-date > div {
        justify-content: flex-start;
        align-items: center;
    }

    .input-text {
        font-size: calc(var(--font-size-input) * 1.5);
        align-self: flex-start;
        padding-left: 2.7vw;
    }

    input::placeholder {
        font-size: calc(var(--font-size-input) * 2.5);
    }

    .error {
        font-size: calc(var(--font-size-input) * 1.5);
        margin-left: 2.5vw;
    }

    /**  */

    /** horizontal line and button  */

    .separator {
        justify-content: center;
        align-items: center;
        margin: 3vh 0;
    }

    button {
        width: 30.392vw;
        height: 15.392vw;
    }

    img {
        width: 7.196vw;
    }

    /**  */

    /** bottom part  */

    .output > span {
        padding-left: 3vw;
        font-size: calc(var(--font-size-input) * 6);
    }

    /**  */
}

